# Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# The Data
let's import the data set from csv file by importing file into pandas dataframe

In [3]:
cc_data = pd.read_csv("creditcard.csv")

# Let's do some EDA with Data set to know more about set

In [4]:
cc_data.head() 
#head function give top 5 rows of dataframe

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
cc_data.tail() 
#tail function give last 5 rows of dataframe

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
cc_data.shape
#shape function show us the number of rows or column that we have in dataset

(284807, 31)

In [7]:
cc_data.info()
#info function show us the info about the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
cc_data.isnull().sum()
# null function shows us the missing values present in data set

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# checking the distribution of legal transactions and fraud transactions 
cc_data ['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 Means Noraml Transactions

1 Means Farud Transactions

In [10]:
#separating the data for analysis
legal = cc_data[cc_data.Class == 0]
fraud = cc_data[cc_data.Class == 1]

In [11]:
print(legal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [12]:
#statistical measure of the data 
legal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
#comparing the value of both transactions
cc_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Building a sample dataset containg similar distribution of Normal transaction and farud transactions

Numbrer of Farud Transactions

In [17]:
legal_sample = legal.sample(n=492)

Concatenating two data frame

In [18]:
new_daataset = pd.concat([legal_sample,fraud],axis=0)

In [21]:
new_daataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
189867,128592.0,2.016682,0.161683,-2.510807,0.781926,0.636618,-0.894135,0.129671,-0.157019,0.906772,...,-0.045001,0.063289,-0.051460,0.302758,0.217511,0.711082,-0.053601,-0.006959,29.56,0
44538,41986.0,1.404845,-0.958269,-0.613266,-1.797737,1.009978,3.535838,-1.582540,0.926631,-0.544848,...,0.337116,0.752714,-0.150497,1.049895,0.584843,-0.035742,0.038004,0.021554,24.99,0
252068,155636.0,-0.850953,1.248397,0.519403,-1.066005,0.283794,-0.359591,0.251286,-0.816558,1.393024,...,0.310679,-1.134181,-0.031502,-0.850389,-0.026506,-0.221647,0.359022,0.007870,0.77,0
196472,131528.0,2.027397,0.261264,-3.623873,0.453135,3.251257,3.055838,0.078940,0.665816,-0.013652,...,-0.044729,0.006675,0.013470,0.578303,0.514496,-0.470280,0.020981,-0.036335,1.00,0
246445,153176.0,-7.553576,-5.926281,-2.676023,6.353348,-3.224831,2.953598,3.013300,0.039938,-1.612865,...,-0.348295,-0.012198,-3.484489,0.641696,-1.009512,0.378813,1.903329,-1.837139,1203.86,0

In [22]:
new_daataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [24]:
new_daataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [26]:
new_daataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92510.063008,-0.000541,-0.168869,0.016978,0.032801,-0.119412,0.104262,0.099575,-0.015406,0.041976,...,0.034549,0.034881,0.026402,0.031657,0.033747,0.032568,0.003400,0.006760,-0.012995,120.221789
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the Data into Features & Targets

In [34]:
X = new_daataset.drop(columns='Class',axis=1)
Y= new_daataset['Class']

In [35]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
189867  128592.0  2.016682  0.161683 -2.510807  0.781926  0.636618 -0.894135
44538    41986.0  1.404845 -0.958269 -0.613266 -1.797737  1.009978  3.535838
252068  155636.0 -0.850953  1.248397  0.519403 -1.066005  0.283794 -0.359591
196472  131528.0  2.027397  0.261264 -3.623873  0.453135  3.251257  3.055838
246445  153176.0 -7.553576 -5.926281 -2.676023  6.353348 -3.224831  2.953598
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
189867  0.129671 -0.157019  0.906772  ... -0.142871 -0.045001  0.063289
44538  -1.582540  0.926631 -0.544848  ...  0.246861  0.337116  0.752714
252068  0.251286 -0.816558  1.393024  ...  0.131751  0.310679 -1.134181
196472  0.078940  0.665816 -0.013652  ... -0.187186 -0.044729  0.006675
246445  3.013300  0.039938 -1.612865  ... -1.026630 -0.348295 -0.012198
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
189867 -0.051460  0.302758  0.217511  0.711082 -0.053601 -0.006959    29.56
44538  -0.150497  1.049895  0.584843 -0.035742  0.038004  0.021554    24.99
252068 -0.031502 -0.850389 -0.026506 -0.221647  0.359022  0.007870     0.77
196472  0.013470  0.578303  0.514496 -0.470280  0.020981 -0.036335     1.00
246445 -3.484489  0.641696 -1.009512  0.378813  1.903329 -1.837139  1203.86
...          ...       ...       ...       ...       ...       ...      ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [36]:
print(Y)

189867    0
44538     0
252068    0
196472    0
246445    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split The Data Into Training Data & Testing Data

In [37]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y , random_state=2)

In [38]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

### Model Training

In [39]:
model= LogisticRegression()

In [40]:
#trainig the logistic Regression Model with Training Data 
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation 

Accuracy Score

In [41]:
#accuracy on training data 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [42]:
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  0.9390088945362135

In [43]:
# accuracy on test data 
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [44]:
print('Accuracy score on test data : ',test_data_accuracy)

Accuracy score on test data :  0.9238578680203046